Repository jenkins-infra/jenkins-infra, pull requests merged in 2023-02, with the labels that each got.

#2630 fix(artifact-caching-proxy): add exception for `elementary-releases` Maven repository
  dist/profile/templates/jenkinscontroller/casc/artifact-caching-proxy.yaml.erb
Labels: artifact-caching-proxy

#2651 fix(cert.ci) stop using spot instance to avoid stuck jobs (pipeline not set up for survavibility)
  hieradata/clients/cert-ci.yaml
Labels: bug, cert.ci.jenkins.io

#2657 Install pipeline-graph-view plugin
  hieradata/clients/trusted-ci.yaml
Labels: enhancement
