Repository jenkins-infra/jenkins-infra, pull requests merged in 2024-03, with the labels that each got.

#3314 Exclude JB Space from ACP
  dist/profile/templates/jenkinscontroller/casc/artifact-caching-proxy.yaml.erb
Labels: artifact-caching-proxy

#3322 feat(pkg,agent): add `azure-cli`
  dist/profile/manifests/azcopy.pp
  hieradata/common.yaml
  spec/classes/profile/azcopy_spec.rb
Labels: enhancement

#3323 feat(pkg,agent): include `get-fileshare-signed-url.sh` script
  dist/profile/manifests/azcopy.pp
Labels: enhancement, azcopy

#3324 chore(updatecli): fix `azcopy` target
  updatecli/weekly.d/azcopy.yaml
Labels: chore, updatecli, azcopy

#3328 Bump OpenVPN Docker image version to 2.3.12
  hieradata/common.yaml
Labels: dependencies

#3325 chore(updatecli): add a manifest for `azure-cli`
  updatecli/weekly.d/azure-cli.yaml
Labels: chore, updatecli, azure-cli

#3344 chore(pkg,agent): include `get-fileshare-signed-url.sh` in this repository and track its content
  dist/profile/files/azcopy/get-fileshare-signed-url.sh
  dist/profile/manifests/azcopy.pp
  updatecli/weekly.d/get-fileshare-signed-url.yml
Labels: dependencies, chore, updatecli, get-fileshare-signed-url
